{% extends 'base.html' %}
{% block title %}
Add Car Page
{% endblock %}

{% block content %}
<form action="{{ url_for('add_car') }}" method="post">
    <div class="form-group">
        <label for="name">Car Name:</label>
        <input type="text" name="name" id="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="barcode">Car Model:</label>
        <input type="text" name="barcode" id="barcode" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Car</button>
</form>
{% endblock %}