{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}


{% block content %}

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Barcode</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for item in dataItem %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>
                <button class="btn btn-outline btn-info">More Info</button>
                <button class="btn btn-outline btn-success" >Purchase</button>
                <a href="{{ url_for('delete_car', item_id=item[0]) }}" class="btn btn-outline btn-danger" onclick="return confirm('Sur ?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
            
    </tbody>
</table>

{% endblock %}
